<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ValidationsPractise</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Personal</display-name>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>com.java.PersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfo</servlet-name>
    <url-pattern>/Person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>ContactInfo</servlet-name>
    <servlet-class>com.java.ContactInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactInfo</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bank</display-name>
    <servlet-name>BankInfo</servlet-name>
    <servlet-class>com.java.BankInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankInfo</servlet-name>
    <url-pattern>/Bank</url-pattern>
  </servlet-mapping>
</web-app>